* {
  box-sizing: border-box;
  font-family: 'Karla', 'Inter', sans-serif;
}

body {
  padding: 15px 50px 15px 60px;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
}

button {
  cursor: pointer;
}

hr {
  color: #DBDEF0;
  border: 0.794239px solid #DBDEF0;
}

.startpage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  color: #293264;
  margin-top: 50%;
}

.startpage>h1 {
  font-family: 'Karla', 'Inter', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 2rem;       
}

.startpage>h3 {
  font-family: 'Inter';
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 25px;    
}

.startpage>button {
  color: white;
  background: #4D5B9E;
  width: 190px;
  height: 55px;
  border-radius: 15px;
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  outline: none;
}

.questions>h3 {
  color: #293264;
  font-size: 1rem;
  max-width: 65 0px;
}

.answers {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.answers>button {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  min-width: 100px;
  max-width: 150px;
  min-height: 25px;
  max-height: 50px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #293264;
  background-color: #F5F7FB;
  font-size: 11px;
  font-weight: medium;
  font-family: 'Inter';
  color: #293264;
  outline: none;    
}

.clicker {
  background-color: #D6DBF5 !important;
  border: none !important;
}

.green-answer {
  background-color: #94D7A2 !important;
  border: none !important;
}

.red-answer {
  background-color: #F8BCBC !important;
  opacity: 0.5;
  border: none !important;
}

.unclicked-answer {
  opacity: 0.5 !important;
}

.score-board {
  display: flex;
  gap: 4vw;
  align-items: center;
  justify-content: center;
  margin-top: 25px
}

.score-board>button {
  color: white;
  background: #4D5B9E;
  width: 140px;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  outline: none;    
}

.score-board>h4 {
  color: #293264;
  font-size: 15px;    
}